
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;


}

.search-form  {
    text-align: center;
    margin-bottom: 5px;
    width: 300px;
    height: 40px;
    position: relative;
}

.input  {
    position: relative;
    height:  100%;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    font-size: 1.2rem;
    /* margin-top: 10px; */
    /* margin-left: -24px; */
    border-radius: 5px;
    border: none;
    height: 20px;
    margin-top: 1rem;
    width: 300px;
    border-radius: 15px;


  }

.search{
    width: 40px;
    height: 40px;
}


.autocomplete  {
    position: absolute;
    left: 0;
    top: 50px;
    /* height: 100%; */
    width: 100%;
    background: rgb(255, 255, 255);
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(7, 7, 7, 0.15);
    z-index: 111;
max-height: 240px;
    height: auto;
    overflow: auto;






}

 .autocomplete-item  {
    padding: 10px;

}

.autocomplete-item:hover {
    background: rgb(192, 190, 190);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .3s all;
    -webkit-transition: cubic-bezier(1, 0, 0, 1) .3s all;
    -moz-transition: cubic-bezier(1, 0, 0, 1) .3s all;
    -ms-transition: cubic-bezier(1, 0, 0, 1) .3s all;
    -o-transition: cubic-bezier(1, 0, 0, 1) .3s all;
}

.error {
    color: red;
    /* position: absolute; */
    font-size: 15px;
    margin: 10px;
}